body {
  margin: 0px;
 
}
  
  
  ul {
    display:flex;
    list-style-type: none;
    justify-content:space-around;
    margin: 0px;
    padding: 20px 300px 20px 400px; 
   }
  
  
  ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    text-decoration-line: none;
  }